<%= form_for([:admin,@address],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
  <div class ="form-group">
    <label class="col-sm-2 control-label">用户:</label>
    <div class="col-sm-4">
      <%= f.select :user_id, user_list,{},class: 'form-control'%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">省份:</label>
    <div class="col-sm-4">
      <%= f.text_field :province,class:"form-control"%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">城市:</label>
    <div class="col-sm-4">
      <%= f.text_field :city,class:"form-control"%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">地区:</label>
    <div class="col-sm-4">
      <%= f.text_field :region,class:"form-control"%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">街道:</label>
    <div class="col-sm-4">
      <%= f.text_field :detail,class:"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button calss="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
    </div>
  </div>
<% end %>