<% content_for :title do %>
  热门类别列表
<% end %>
<h2 class="col-sm-offset-5">
   <a href = "/admin">热门类别列表</a>
</h2>
<div class="container">
  <%= link_to '添加类别列表', new_admin_hot_category_path, class: ' btn btn-success'%>
  <% if @categories.present? %>
    <div class = "panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category|%>
            <tr>
              <td class="col-sm-2"><%=category.id%></td>
              <td class="col-sm-2"><%=category.name%></td>
              <td class="col-sm-2"><%=category.desc%></td>
              <td class="col-sm-2">
               <%= link_to '修改',edit_admin_hot_category_path(category)%>|
               <%= link_to '删除', admin_hot_category_path(category), method: :delete, data: { confirm: '确定要删除吗？' }%> 
              </td>
            </tr>
          <% end %>
          
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="col-sm-offset-2">
      <h2>赶快来添加吧！</h2>
    </div>
  <% end %>
</div>