<% content_for :title do %>
  订单列表
<% end %>
<h2 class="col-sm-offset-5">
   <a href = "/admin">订单列表</a>
</h2>
<div class="container">
  <%#= link_to '添加订单', "", class: ' btn btn-success'%>
  <% if @orders.present? %>
    <div class = "panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>user_id</th>
            <th>state</th>
            <th>phone_num</th>
            <th>receive_name</th>
            <th>address</th>
            <th>products</th>
            <th>create_time</th>
            <th>delivery_time</th>
            <th>complete_time</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order|%>
            <tr>
              <td class="col-sm-1"><%=order.id%></td>
              <td class="col-sm-1"><%=order.user_id%></td>
              <td class="col-sm-1"><%=order.state%></td>
              <td class="col-sm-2"><%=order.phone_num%></td>
              <td class="col-sm-2"><%=order.receive_name%></td>
              <td class="col-sm-2">*</td>
              <td class="col-sm-2"></td>
              <td class="col-sm-2"><%=order.created_at%></td>
              <td class="col-sm-2"><%=order.delivery_time%></td>
              <td class="col-sm-2"><%=order.complete_time%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="col-sm-offset-2">
      <h2>赶快来添加吧！</h2>
    </div>
  <% end %>
</div>