<% content_for :title do %>
  产品列表
<% end %>
<h2 class="col-sm-offset-5">
   <a href = "/admin">产品列表</a>
</h2>
<div class="product_weight">
  <%= link_to '添加产品', new_admin_product_path, class: ' btn btn-success'%>
  <% if @products.present? %>
    <div class = "panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>desc</th>
            <th>具体类别</th>
            <th>热门类别</th>
            <th>状态</th>
            <th>单位</th>
            <th>销量</th>
            <th>库存数量</th>
            <th>现价</th>
            <th>原价</th>
            <th>规格</th>
            <th>单价</th>
            <th>产地</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product|%>
            <tr>
              <td class="col-sm-1"><%=product.id%></td>
              <td class="col-sm-1"><%=link_to product.name,admin_product_path(product)%></td>
              <td class="col-sm-1"><%=product.desc%></td>
              <% if product.detail_category.present?%>
                <td class="col-sm-1"><%=product.detail_category.name%></td>
              <% else %>
                <td class="col-sm-1">暂无</td>
              <% end %>
              <% if product.hot_category.present? %>
                <td class="col-sm-1"><%=product.hot_category.name%></td>
              <% else %>
                <td class="col-sm-1">暂无</td>
              <% end %>
              <% if product.state == 0 %>
                <td class="col-sm-1">下架</td>
              <% else %>
                <td class="col-sm-1">上架</td>
              <% end %>
              <% if product.unit.present? %>
                <td class="col-sm-1"><%=product.unit.name%></td>
              <% else %>
                <td class="col-sm-1">暂无</td>
              <% end %>
              <td class="col-sm-1"><%=product.sale_count%></td>
              <td class="col-sm-1"><%=product.stock_num%></td>
              <td class="col-sm-1"><%=product.price%></td>
              <td class="col-sm-1"><%=product.old_price%></td>
              <td class="col-sm-1"><%=product.spec%></td>
              <td class="col-sm-1"><%=product.unit_price%></td>
              <td class="col-sm-1"><%=product.origin%></td>
              <td class="col-sm-1"><%=product.remark%></td>
              <td class="col-sm-2">
               <%= link_to '修改',edit_admin_product_path(product)%>|
               <%= link_to '删除', admin_product_path(product), method: :delete, data: { confirm: '确定要删除吗？' }%> 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="col-sm-offset-2">
      <h2>暂无</h2>
    </div>
  <% end %>
</div>