<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:my_title_info)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render "admin/share/head"%>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
